**/target
/target

/.idea
gamificaiton-dao/gamification-dao-api/target
gamificaiton-dao/gamification-dao-api/**.iml

/*.iml

database.properties
config.properties
*-example.properties
/**/*.iml
happy-student-model/src/main/resources/database.properties
auth.service.properties
