<ng-include src="'/parts/sidebar.html'"></ng-include>
<div class="main_content">
    <div class="challenges">
        <form action="">
            <button class="search_btn">
                <span class="icon icon-search_icon"></span>
            </button>
            <input class="search_input" type="text" id="search" placeholder="Поиск">
        </form>
        <div infinite-scroll="loadMore()" infinite-scroll-disabled='autoLoadingDisabled'  class="events">
            <div class="event" ng-repeat="challenge in challenges">
                <h3>
                    <span class="icon icon-bookmark_icon"></span>
                    <span ng-click="showedBlocks[$index]=!showedBlocks[$index]">{{challenge.name}}</span>
                </h3>

                <div class="event_min_info">
                    <span ng-show="!showedBlocks[$index]" class="icon icon-options_icon"></span>
                    <span>Дедлайн {{challenge.date_to|date:'dd MMMM yyyy'}}</span>
                    <span>Группа:
                        <a ng-repeat="group in challenge.groups">{{group}}{{$last?'':', '}}</a>
                    </span>
                </div>
                <div ng-show="!!showedBlocks[$index]" class="event_full_info">
                    <dl>
                        <dt>Дополнительно:</dt>
                        <dd>{{challenge.description}}</dd>
                    </dl>
                    <dl>
                        <dt>Предмет:</dt>
                        <dd>{{challenge.subject}}</dd>
                    </dl>
                    <dl>
                        <dt>Категория:</dt>
                        <dd>{{challenge.category}}</dd>
                    </dl>
                    <dl>
                        <dt>Оценка:</dt>
                        <dd>{{challenge.max_volume}}</dd>
                    </dl>
                    <dl>
                        <dt>Исполнители ({{challenge.performers.length}}):</dt>
                        <dd>
                            <div ng-repeat="performer in challenge.performers" class="person">
                                <span>{{performer.first_name}} {{performer.last_name}}, {{performer.group}}</span>
                                <a href="#">
                                    <span class="icon-tick"></span>
                                </a>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>