<ng-include src="'/parts/sidebar.html'"></ng-include>
<div class="main_content">
    <div class="challenges">
        <form action="">
            <button class="search_btn">
                <span class="icon icon-search_icon"></span>
            </button>
            <input class="search_input" type="text" id="search" placeholder="Поиск">
        </form>
        <div infinite-scroll="loadMore()" infinite-scroll-disabled='autoLoadingDisabled' class="events">
            <div class="event" ng-repeat="challenge in challenges">
                <h3>
                    <span class="icon icon-bookmark_icon"></span>
                    <span ng-click="showedBlocks[$index]=!showedBlocks[$index]">{{challenge.name}}</span>
                </h3>

                <div class="event_min_info">
                    <span ng-show="!showedBlocks[$index]" class="icon icon-options_icon"></span>
                    <span>Дедлайн {{challenge.date_to|date:'dd MMMM yyyy'}}</span>
                    <span>Группа:
                        <a ng-repeat="group in challenge.groups">{{group}}{{$last?'':', '}}</a>
                    </span>
                </div>
                <div ng-show="!!showedBlocks[$index]" class="event_full_info" style="display: block;">
                    <dl>
                        <dt>Дополнительно:</dt>
                        <dd>{{challenge.description}}</dd>
                    </dl>
                    <dl>
                        <dt>Предмет:</dt>
                        <dd>{{challenge.subject}}</dd>
                    </dl>
                    <dl>
                        <dt>Категория:</dt>
                        <dd>{{challenge.category}}</dd>
                    </dl>
                    <dl>
                        <dt>Оценка:</dt>
                        <dd>{{challenge.max_volume}}</dd>
                    </dl>
                    <dl>
                        <dt>Исполнители ({{challenge.users.length}}):</dt>
                        <dd>
                            <div ng-repeat="performer in challenge.users" class="person">
                                <span>{{performer.first_name}} {{performer.last_name}}, {{performer.group}}</span>
                                <a href ng-click="showChangeBlock(challenge,performer)">
                                    <span ng-class="checkConfirmed(challenge,performer.id)?'confirmed':''"
                                          class="icon-tick ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                          role="button"><span class="ui-button-text"></span></span>
                                </a>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dialog-message" title="Прийти на лекцию">
    <p>
        <span class="grey_label">Исполнитель:</span>
        <span class="nowrap">{{mark_dialog.performer.first_name}} {{mark_modal.performer.last_name}}, {{mark_dialog.performer.group}}</span>
    </p>

    <p>
        <span class="grey_label">Максимальная оценка:</span> {{mark_dialog.challenge.max_volume}} баллов
    </p>
    <span class="grey_label">Итоговый балл:</span>
    <input class="mark" type="number" max={{mark_dialog.challenge.max_volume}} min="0" ng-model="mark_dialog.mark">
</div>
