<div class="container" ng-controller="LoginController as app">
    <div class="sign_in_block">
        <form ng-submit="app.login()" method="get">
            <input type="text" ng-model="app.user.username" placeholder="Логин"/>
            <input type="password" ng-model="app.user.password" placeholder="Пароль">
            <button class="sign_in_btn" type="submit">
                Войти
                <span class="icon icon-enter_icon"></span>
            </button>
        </form>
    </div>
</div>