<ng-include src="'/parts/sidebar.html'"></ng-include>
<div class="main_content">
    <div class="challenges add_challenge">
        <h2>
            <span class="icon icon-bookmark_icon"></span>
            <span>Создание нового задания</span>
        </h2>

        <form id="taskForm">
            <div class="field">
                <label for="name">Название*:</label>
                <input id="name" ng-model="newTask.name" ng-change="errors=null">
                <label style="color: red" ng-show="errors.name!=null">{{errors.name}}</label>
            </div>
            <div class="field">
                <label>Предмет</label>
                <ui-select name="subject"
                           theme="bootstrap"
                           ng-model="newTask.subject">
                    <ui-select-match placeholder="Введите название предмета">{{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="discipline in disciplines">
                        <div ng-bind-html="trustAsHtml((discipline.name | highlight: $select.search))"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="field">
                <label>Категория</label>
                <ui-select name="category"
                           theme="bootstrap"
                           ng-model="newTask.category">
                    <ui-select-match placeholder="Введите название категории">{{$select.selected.caption }}
                    </ui-select-match>
                    <ui-select-choices repeat="category in categories">
                        <div ng-bind-html="trustAsHtml((category.caption | highlight: $select.search))"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="field">
                <!--<label>Преподаватель</label>-->
                <!--<ui-select theme="bootstrap"-->
                <!--ng-model="newTask.creator"-->
                <!--style="margin-bottom: 5px;"-->
                <!--required>-->
                <!--<ui-select-match placeholder="Фамилия">{{$select.selected.lastName}}-->
                <!--</ui-select-match>-->
                <!--<ui-select-choices repeat="teacher in teachers">-->
                <!--<div ng-bind-html="trustAsHtml((teacher.lastName | highlight: $select.search))"></div>-->
                <!--</ui-select-choices>-->
                <!--</ui-select>-->
            </div>
            <div class="field">
                <label>Курсы/группы</label>
                <ui-select theme="bootstrap"
                           ng-model="newTask.coursesAndGroups"
                           multiple="true"
                           style="margin-bottom: 5px;margin-left: 100px;width: 80%;"
                           required>
                    <ui-select-match placeholder="Введите номер">{{$item.number}}
                    </ui-select-match>
                    <ui-select-choices repeat="cag in coursesAndGroups">
                        <div ng-bind-html="trustAsHtml((cag.number | highlight: $select.search))"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="field">
                <label>Исполнители</label>
                <ui-select theme="bootstrap"
                           ng-model="newTask.performers"
                           multiple="true"
                           style="margin-bottom: 5px;margin-left: 100px;width: 80%;">
                    <ui-select-match placeholder="Введите имя">{{$item.fullNameWithGroup}}
                    </ui-select-match>
                    <ui-select-choices repeat="performer in performers">
                        <div ng-bind-html="trustAsHtml((performer.fullNameWithGroup | highlight: $select.search))"></div>
                    </ui-select-choices>
                </ui-select>
            </div>


            <div class="field">
                <label for="mark">Оценка*:</label>
                <span class="addition">(максимальный балл)</span>
                <input id="mark" name="maxMark" ng-model="newTask.maxMark" type="number" min="1"
                       ng-change="errors=null">
                <label style="color: red" ng-show="errors.maxMark!=null">{{errors.maxMark}}</label>
            </div>

            <div class="field">
                <label for="startDate">Начинается:</label>
                <input ng-model="newTask.date_from" type="date" ng-change="errors=null" id="startDate">
                <label style="color: red" ng-show="errors.startDate!=null">{{errors.startDate}}</label>
            </div>

            <div class="field">
                <label for="endDate">Заканчивается:</label>
                <input ng-model="newTask.date_to" type="date" ng-change="errors=null" id="endDate">
            </div>

            <div class="field">
                <label for="description">Описание:</label>
                <textarea name="descr" id="description" ng-model="newTask.description"></textarea>
            </div>
            <div class="field">
                <label for="files">Прикрепления: </label>
                <input id="files" name="attachments" type="file"
                       ng-model="attachments" ngf-select="true"
                       ngf-multiple="true" ngf-keep="true" ngf-keep-distinct="true">

                <div class="input_file">
                    <span class="icon icon-add_icon"></span>
                    <span>Прикрепить файл</span>
                </div>
                <output id="list">
                    <div ng-repeat="file in attachments" class="file_element">
                        <span>{{file.name}}</span> <span ng-click="attachments.remove($index)"
                                                         class="close_elem icon-close"></span></div>
                </output>
            </div>
            <button ng-if="!created" class="submit" type="submit" ng-click="createTask()">
                <span>Создать</span>
                <span class="icon-tick"></span>
            </button>
            <label style="color: lawngreen" ng-if="created">Создан</label>
        </form>
    </div>
</div>
