<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <mapping class="ru.kpfu.itis.model.Account"/>
        <mapping class="ru.kpfu.itis.model.AccountInfo"/>
        <mapping class="ru.kpfu.itis.model.Task"/>
        <mapping class="ru.kpfu.itis.model.TaskStatus"/>
        <mapping class="ru.kpfu.itis.model.classifier.TaskCategory"/>
        <mapping class="ru.kpfu.itis.model.AccountTask"/>
        <mapping class="ru.kpfu.itis.model.AccountBadge"/>
        <mapping class="ru.kpfu.itis.model.Badge"/>
        <mapping class="ru.kpfu.itis.model.AcademicGroup"/>
        <mapping class="ru.kpfu.itis.model.Faculty"/>
        <mapping class="ru.kpfu.itis.model.Rating"/>
        <mapping class="ru.kpfu.itis.model.classifier.SubjectType"/>
        <mapping class="ru.kpfu.itis.model.Subject"/>
        <mapping class="ru.kpfu.itis.model.Activity"/>
    </session-factory>

</hibernate-configuration>